@import "/src/styles/theme";

:root {
  --layout-max-width: 1440px;
  --layout-gutter: 96px;
  --layout-narrow-max-width: 1200px;
}

.container {
  max-width: var(--layout-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--layout-gutter);
  box-sizing: border-box;
  overflow-x: clip;
}

.l-container {
  max-width: var(--layout-narrow-max-width);
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  overflow-x: clip;
}
